@charset "UTF-8";

/* 스타일 초기화 */
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  //   font-family: "NanumSquare", sans-serif;
  color: #222;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.4;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
fieldset,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  //   font-family: "NanumSquare", sans-serif;
  color: #222;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.4;
  font-size: 1.1rem;
}

/* HTML5 display-role reset for older browsers */
/* 익스플로러 하위버전은 해당 태그를 인식하지 못한다. 인식하지 못하는 태그는 inline 요소로 들어가기때문에 width, height등의 속성 설정이 안된다. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******** CSS 모듈 ********/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/******** 숨김 콘텐츠 ********/
.readable-hidden,
.skip-nav,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.skip-nav:focus {
  width: 100%;
  height: auto;
  padding: 1em;
  background: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  z-index: 100;
}
img {
  width: 100%;
}
// drag selection style
::selection {
  background-color: #fccd73;
}
// scroll bar style
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7dbf3;
  border-radius: 10px;
}
