@import "../common.module.scss";

.DramaDataView {
  .DataTitle {
    position: sticky;
    top: 0px;
    background-color: gold;
    h4 {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
