.Modal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    background: white;
    padding: 1rem;
    width: 400px;
    height: auto;
  }
}
