@import "../common.module.scss";

.Modal {
  &__bg {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    background: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-width: 400px;
    min-width: 400px;
    height: auto;
    min-height: 560px;
    border-radius: 6px;
    overflow: auto;
    font-size: 10px;
    padding: 3em;
    position: relative;
    header {
      overflow: hidden;
      .logo {
        background: url(./images/logo.svg) no-repeat;
        background-size: contain;
        width: 140px;
        height: 30px;
        margin: 0 auto;
      }
      .btn_close {
        background: transparent url(./images/close.png) no-repeat;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        text-indent: 20px;
        white-space: nowrap;
        overflow: hidden;
        width: 18px;
        height: 18px;
      }
    }
    .Modal__tit {
      margin: 50px 0 20px;
      font-size: 20px;
      color: $textdark-color;
    }
    input {
      height: 50px;
      width: 100%;
      padding: 10px 10px 10px 20px;
      font-size: 16px;
      color: $textdark-color;
      border: 1px solid #dfdfdf;
      margin-bottom: 20px;
      &::placeholder {
        color: $textlight-color;
      }
      &:focus {
        outline: none;
        border-color: $brand-color;
      }
    }
    section {
      button {
        height: 50px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
      }
      .btn_simple {
        background: $brand-color;
      }
      .btn_goFacebook {
        background: #3b5aa0;
      }
      .area {
        margin-top: 40px;
        font-size: 10px;
        span {
          font-size: 1.6em;
          color: $textdark-color;
        }
        a {
          font-size: 1.6em;
          color: $brand-color;
          cursor: pointer;
          &:hover {
            color: $brand-color;
          }
        }
      }
      hr {
        margin: 40px 0 10px;
        position: relative;
        color: black;
        text-align: center;
        height: 1.5em;
        border: 0;
        outline: 0;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          border-top: 1px solid $textlight-color;
        }
        &::after {
          content: "OR";
          display: inline-block;
          position: relative;
          top: -2px;
          background-color: #fff;
          color: $textlight-color;
          font-size: 14px;
          -webkit-letter-spacing: -0.1px;
          -moz-letter-spacing: -0.1px;
          -ms-letter-spacing: -0.1px;
          letter-spacing: -0.1px;
          line-height: 19px;
          vertical-align: middle;
          padding: 0 14px;
        }
      }
    }
  }
}
