.title {
  margin-top: 30px;
  color: rgb(56, 0, 88);
  text-align: center;
}
.joy, .joy2{
    background-color: tomato;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}
.joy2{
    background-color: palevioletred;
}